footer.footer
  .footer-content
    .footer-section
      h4 Tour-App
      ul
        li
          a(href="#link1") About
        li
          a(href="#link2") Contact Us
        li
          a(href="#link3") Address
  .footer-bottom
    p &copy; 2024 My Website. All rights reserved.
