doctype html
html(lang="en")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")
      link(rel='stylesheet' href='/css/styles.css')
      link(rel='shortcut icon' type='image/png' href='/img/tour_app_logo.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
  body
    header.navbar
      nav
        ul.nav-list
          li.nav-item
            a(href="/") Home
          if(user)
            li.nav-item
              a(href="/createTour") Create
            li.nav-item
              a(href="/bookings") Bookings
        ul.nav-list
          if(!user) 
            li.nav-item 
              a(href="/login") Login
            li.nav-item
              a(href='/signup') Signup
          else
            li.nav-item
              button.logoutButton Logout
            li.nav-item 
              a(href="/profile") My Profile

