extends base

block append head
    link(rel='stylesheet' href='/css/forgetPassword.css')

block content 
    .forget-password-container
        .forget-password-card
            h2 Forgot Your Password?
            p Enter your email address below and we'll send you a link to reset your password.
            form
                .form-group
                    label(for="email") Email Address:
                    input#email(type="email" name="email" placeholder="Enter your email" required)
                .form-group
                    button.btn.sendResetLinkButton(type="submit") Send Reset Link
            p.back-link
                a(href="/login") Back to Login