doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title=title 
        link(rel='stylesheet' href='/css/resetPassword.css')

body 
    .reset-password-section
        h2 Reset Password
        form
            .form-group
                label(for="password") New Password:
                input#password(type="password" name="password" placeholder="Enter new password" required)
            .form-group
                label(for="confirmPassword") Confirm New Password:
                input#confirmPassword(type="password" name="confirmPassword" placeholder="Confirm new password" required)
            .form-group
                button.btn.resetPasswordButton(type="submit") Reset Password

script(type='module' src="/js/alert.js")
script(type="module" src="/js/main.js")