/* Tour Container */
.tourContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tour-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  transition: transform 0.2s;
}

.tour-card:hover {
  transform: translateY(-5px);
}

/* Cover Image */
.cover-image {
  width: 100%;
  /* object-fit: cover; */
}

/* Tour Info Section */
.tour-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour-name {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.tour-duration,
.tour-price {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

/* Details Button */
.details-button {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #0056b3;
}
